{% extends 'InoSession.html.twig' %}
{% block navbar_title %}Konto Manager{% endblock %}
{% block navbar_side %}
  {% set naventries = {
    'home':'',
    'list':'',
    'import':'',
    'editcat':'',
    'report':'',
    'add':'',
    'invoices':'',
    'filter':'',
  } %}
  {% if ACTNAV is not defined %}
    {% set naventries = set_element(naventries,'home','active') %}
  {% else %}
    {% if naventries[ACTNAV] is not defined %}
      <div class="alert alert-danger" role="alert">
        Unknown navigation tag "{{ ACTNAV }}" - CHECK YOUR CODE!
      </div>
    {% else %}
      {% set naventries = set_element(naventries,ACTNAV,'active') %}
    {% endif %}
  {% endif %}
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link {{ naventries['home'] }}" href="{{ path("km_index") }}"><i class="fa-solid fa-gauge fa-fw"></i> Dashboard</a></li>
          <li class="nav-item"><a class="nav-link {{ naventries['list'] }}" href="#"><i class="fa-solid fa-list fa-fw"></i> Kontoübersicht anzeigen</a></li>
          <li class="nav-item"><a class="nav-link {{ naventries['import'] }}" href="#"><i class="fa-solid fa-file-import fa-fw"></i> CSV Daten importieren</a></li>
          <li class="nav-item"><a class="nav-link {{ naventries['editcat'] }}" href="#"><i class="fa-solid fa-pen-to-square fa-fw"></i> Kategorien bearbeiten</a></li>
          <li class="nav-item"><a class="nav-link {{ naventries['report'] }}" href="#"><i class="fa-solid fa-chart-line fa-fw"></i> Auswertungen</a></li>
          <li class="nav-item"><a class="nav-link {{ naventries['add'] }}" href="#"><i class="fa-solid fa-square-plus fa-fw"></i> Kontoeintrag hinzufügen</a></li>
          <li class="nav-item"><a class="nav-link {{ naventries['invoices'] }}" href="#"><i class="fa-solid fa-receipt fa-fw"></i> Quittungen und Belege</a></li>
          <li class="nav-item"><a class="nav-link {{ naventries['filter'] }}" href="#"><i class="fa-solid fa-filter fa-fw"></i> Importfilter bearbeiten</a></li>
        </ul>
        <hr>
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link" aria-current="page" href="{{ path("home") }}"><i class="fa-solid fa-home fa-fw"></i> Zurück zum Start</a></li>
          <li class="nav-item"><a class="nav-link" aria-current="page" href="{{ path("app_logout") }}"><i class="fa-solid fa-power-off fa-fw"></i> Abmelden</a></li>
        </ul>
      </div>
    </nav>
{% endblock %}
{% block body_before %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-4">
{% endblock %}
{% block body_after %}
    </main>
  </div>
</div>
{% endblock %}
