{% extends 'InoFreelancerManager.html.twig' %}
{% block body %}
  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item h3" aria-current="page"><a href="{{ path("fl_reporting_index") }}"><i class="fa-solid fa-chart-line fa-fw"></i> Auswertungen</a></li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-3 mb-3">
      <div class="card">
        <div class="card-body">
          <table class="table table-sm table-striped table-hover">
            <caption>Globale Übersicht</caption>
            <tbody>
            <tr>
              <td>Benutzer:</td>
              <td class="text-end">{{ app.user.firstName }} {{ app.user.lastName }}</td>
            </tr>
            <tr>
              <td>Firma:</td>
              <td class="text-end">
                {% if CONFIG.companyName is defined %}
                  {{ CONFIG.companyName }}
                {% else %}
                  <a href="{{ path("fl_configuration_form") }}" class="text-danger">Keine Konfiguration!</a>
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>Projekte:</td>
              <td class="text-end">{{ OVERVIEW['projects']|format_number }}</td>
            </tr>
            <tr>
              <td>Kunden:</td>
              <td class="text-end">{{ OVERVIEW['customers']|format_number }}</td>
            </tr>
            <tr>
              <td>Einträge:</td>
              <td class="text-end">{{ OVERVIEW['entries']|format_number }}</td>
            </tr>
            <tr>
              <td>Einträge von / bis:</td>
              <td class="text-end">{{ OVERVIEW['firstentry'] }} - {{ OVERVIEW['lastentry'] }}</td>
            </tr>
            <tr>
              <td>Erfassungszeitraum:</td>
              <td class="text-end">{{ OVERVIEW['myrange'] }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xl-6 col-12 mb-3">
      <div class="card">
        <div class="card-body">
          <table class="table table-sm table-striped table-hover">
            <caption>Top 10 Projekte nach Arbeitszeit</caption>
            <thead>
            <tr>
              <th>Projektname</th>
              <th>Kunde</th>
              <th class="text-end">Gesamtzeit</th>
              <th class="text-end">Einnahmen</th>
            </tr>
            </thead>
            <tbody>
            {% for s in TOP_TIME %}
              <tr>
                <td>{{ s.project_name }}</td>
                <td>{{ s.customer_name }}</td>
                <td class="text-end">{{ s.totsecs|formatWorkTimeLocalized  }}</td>
                <td class="text-end">{{ s.salary|format_currency('EUR') }}</td>
              </tr>
            {% else %}
              <tr>
                <td colspan="4">Keine Daten vorhanden!</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-xl-6 col-12 mb-3">
      <div class="card">
        <div class="card-body">
          <table class="table table-sm table-striped table-hover">
            <caption>Top 10 Projekte nach Einnahmen</caption>
            <thead>
            <tr>
              <th>Projektname</th>
              <th>Kunde</th>
              <th class="text-end">Gesamtzeit</th>
              <th class="text-end">Einnahmen</th>
            </tr>
            </thead>
            <tbody>
            {% for s in TOP_PAYED %}
              <tr>
                <td>{{ s.project_name }}</td>
                <td>{{ s.customer_name }}</td>
                <td class="text-end">{{ s.totsecs|formatWorkTimeLocalized  }}</td>
                <td class="text-end">{{ s.salary|format_currency('EUR') }}</td>
              </tr>
            {% else %}
              <tr>
                <td colspan="4">Keine Daten vorhanden!</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {{ dump() }}

{% endblock %}
