{% extends 'InoFreelancerManager.html.twig' %}
{% block body %}
<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item h3" aria-current="page"><a href="{{ path("fl_time_form") }}"><i class="fa-solid fa-clock fa-fw"></i> Zeiterfassung</a></li>
      </ol>
    </nav>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col d-flex align-items-center fw-bold">
            {{ CURRENT_DATE|format_datetime('full','none') }}
          </div>
          <div class="col text-end">
            <a href="{{ path("fl_time_form") }}" class="btn btn-outline-secondary" title="Zu Heute wechseln"><i class="fa-solid fa-calendar-xmark"></i></a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <form method="post" action="{{ path("fl_time_save") }}" id="frm_timecollect">
          <input type="hidden" name="entryid" id="entryid" value="{{ ENTRY.id|default(0) }}">
          <input type="hidden" name="cdate" id="cdate" value="{{ CURRENT_DATE|date('Y-m-d') }}">
          <div class="form-floating">
            <select class="form-select" id="RefProjectId" name="RefProjectId" aria-label="Projektliste" required="required">
              <option value="">--- Bitte wählen ---</option>
              {% for p in PROJECTS_LIST %}
                <option value="{{ p.id }}"{% if ENTRY.refProject.id is defined and p.id == ENTRY.refProject.id %} selected{% endif %}>{{ p.projectName }} ({{ p.refCustomer.name }})</option>
              {% endfor %}
            </select>
            <label for="RefProjectId">Eintrag für Projekt</label>
          </div>
          <div class="row mt-3">
            <div class="col-xxl-3 col-md-6 col-12">
              <div class="input-group">
                <span class="input-group-text" id="basic-addon3">Dauer:</span>
                <input type="text" class="form-control text-end" placeholder="Std." name="HH" id="hh" aria-label="Stunden" title="Anzahl gearbeiteter Stunden" value="{{ DURATION_HH }}">
                <span class="input-group-text">:</span>
                <input type="text" class="form-control" placeholder="Min." name="MM" id="mm" aria-label="Minuten" title="Anzahl gearbeiteter Minuten" value="{{ DURATION_MM }}">
              </div>
            </div>
            <div class="col-auto d-flex align-items-center text-muted">
              alternativ:
            </div>
            <div class="col-auto">
              <label for="st" class="col-auto col-form-label">Startzeit:</label>
            </div>
            <div class="col-auto">
              <input type="time" class="form-control" placeholder="Starzeit" name="ST" id="st" value="{{ START_TIME }}">
            </div>
            <div class="col-auto">
              <label for="et" class="col-auto col-form-label">Endzeit:</label>
            </div>
            <div class="col-auto">
              <input type="time" class="form-control" placeholder="Endzeit" name="ET" id="et" value="{{ END_TIME }}">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <div class="form-floating">
                <textarea class="form-control" name="wdesc" placeholder="Tätigkeit" id="description" style="height:100px;">{{ ENTRY.workDescription }}</textarea>
                <label for="description">Beschreibung der Tätigkeit(en)</label>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <button type="button" class="btn btn-primary btn_time_save"><i class="far fa-save"></i> Speichern</button>
              {% if ENTRY.id|default(0) %}
              <button type="button" class="btn btn-primary" onclick="window.location.href='{{ path("fl_time_form",{'date':CURRENT_DATE|date('Y-m-d')}) }}'"><i class="far fa-plus"></i> Neuer Eintrag</button>
              <button type="button" class="btn btn-danger ml-1 btn_time_del"><i class="fas fa-trash"></i> Löschen</button>
              {% endif %}
            </div>
          </div>
        </form>
      </div>
    </div>
    {% if TODAY_ENTRIES|length %}
    <div class="card mt-3">
      <div class="card-body">
        <h5 class="card-title">
          {% if TODAY_ENTRIES|length == 1 %}
            Ein Eintrag vorhanden
          {% else %}
            {{ TODAY_ENTRIES|length }} Einträge vorhanden
          {% endif %}
        </h5>
        <table class="table table-sm table-bordered table-striped">
        <thead>
        <tr>
          <th class="w-20">Kunde</th>
          <th class="w-20">Projekt</th>
          <th>Dauer</th>
          <th class="w-50">Beschreibung</th>
        </tr>
        </thead>
        <tbody>
        {% for t in TODAY_ENTRIES %}
        <tr>
          <td><a href="{{ path("fl_time_edit",{'id':t.id}) }}">{{ t.customer_name }}</a></td>
          <td><a href="{{ path("fl_time_edit",{'id':t.id}) }}">{{ t.project_name }}</a></td>
          <td><a href="{{ path("fl_time_edit",{'id':t.id}) }}">{{ t.work_time_in_secs|formatWorkTime }}</a></td>
          <td><a href="{{ path("fl_time_edit",{'id':t.id}) }}">{{ t.work_description }}</a></td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
          <td colspan="2" class="text-end pe-2 fw-bold">Total:</td>
          <td class="fw-bold">{{ TODAY_TIME|formatWorkTime }}</td>
        </tr>
        </tfoot>
        </table>
      </div>
    </div>
    {% endif %}
  </div>
  <div class="col-3">
    {% for year,m in CALENDAR %}
      {% for mon,cal in m %}
      <table class="table table-sm table-bordered">
      <caption class="pt-0 mt-0 pb-1">{{ "%04d-%02d-01"|format(year,mon)|format_date(pattern='MMMM Y') }} </caption>
      <thead>
      <tr>
        <th class="text-center">Wo</th>
        <th class="text-center">Mo</th>
        <th class="text-center">Di</th>
        <th class="text-center">Mi</th>
        <th class="text-center">Do</th>
        <th class="text-center">Fr</th>
        <th class="text-center">Sa</th>
        <th class="text-center">So</th>
      </tr>
      </thead>
      <tbody>
      {% for r in cal %}
      <tr>
      {% for i,d in r %}
        {% if i > 0 %}
          {% set day = d|calcClasses(year,mon,EVENTS) %}
        {% else %}
          {% set day = {"CSS_CLASSES":"","DAY":""} %}
        {% endif %}
        <td class="text-center{{ day['CSS_CLASSES'] }}">
          {# Add links only for date, not for weeknumber! #}
          {% if i > 0 %}
          <a href="{{ path("fl_time_form",{'date':day['DAY']}) }}" class="{{ day['CSS_CLASSES'] }}" title="Zum {{ day['DAY']|format_date }} wechseln">{{ d }}</a>
          {% else %}
            {{ d }}
          {% endif %}
        </td>
      {% endfor %}
      </tr>
      {% endfor %}
      </tbody>
      </table>
      {% endfor %}
    {% endfor %}
  </div>
</div>
<form method="post" action="{{ path("fl_time_delete") }}" id="frm_time_del">
  <input type="hidden" name="ENTRYID" value="{{ ENTRY.id|default(0) }}">
</form>
{% endblock %}
{% block javascripts %}
<script src="{{ asset("js/fl_time_tracking.js") }}"></script>
{% endblock %}
