{% extends 'InoFreelancerManager.html.twig' %}
{% block body %}
<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item h3" aria-current="page"><a href="{{ path("fl_projects_list") }}"><i class="fa-solid fa-clock fa-fw"></i> Zeiterfassung</a></li>
      </ol>
    </nav>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col d-flex align-items-center fw-bold">
            {{ CURRENT_DATE|format_datetime('full','none') }}
          </div>
          <div class="col text-end">
            <a href="{{ path("fl_time_form") }}" class="btn btn-outline-secondary" title="Zu Heute wechseln"><i class="fa-solid fa-calendar-xmark"></i></a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <form method="post" action="#">
          <div class="form-floating">
            <select class="form-select" id="RefProjectId" name="RefProjectId" aria-label="Projektliste" required="required">
              <option value="">--- Bitte w채hlen ---</option>
              {% for p in PROJECTS_LIST %}
                <option value="{{ p.id }}">{{ p.projectName }} ({{ p.refCustomer.name }})</option>
              {% endfor %}
            </select>
            <label for="RefProjectId">Eintrag f체r Projekt</label>
          </div>
          <div class="row mt-3">
            <div class="col-xxl-3 col-md-6 col-12">
              <div class="input-group">
                <span class="input-group-text" id="basic-addon3">Dauer:</span>
                <input type="text" class="form-control text-end" placeholder="Std." name="HH" id="hh" aria-label="Stunden" title="Anzahl gearbeiteter Stunden">
                <span class="input-group-text">:</span>
                <input type="text" class="form-control" placeholder="Min." name="MM" id="mm" aria-label="Minuten" title="Anzahl gearbeiteter Minuten">
              </div>
            </div>
            <div class="col-auto d-flex align-items-center">
              alternativ:
            </div>
            <div class="col-auto">
              <label for="st" class="col-auto col-form-label">Startzeit:</label>
            </div>
            <div class="col-auto">
              <input type="time" class="form-control" placeholder="Starzeit" name="ST" id="st">
            </div>
            <div class="col-auto">
              <label for="et" class="col-auto col-form-label">Endzeit:</label>
            </div>
            <div class="col-auto">
              <input type="time" class="form-control" placeholder="Endzeit" name="ET" id="et">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <div class="form-floating">
                <textarea class="form-control" placeholder="T채tigkeit" id="description" style="height:100px;"></textarea>
                <label for="description">Beschreibung der T채tigkeit(en)</label>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-3">
    {% for year,m in CALENDAR %}
      {% for mon,cal in m %}
      <table class="table table-sm table-bordered">
      <caption class="pt-0 mt-0 pb-1">{{ "%04d-%02d-01"|format(year,mon)|format_date(pattern='MMMM Y') }} </caption>
      <thead>
      <tr>
        <th class="text-center">Wo</th>
        <th class="text-center">Mo</th>
        <th class="text-center">Di</th>
        <th class="text-center">Mi</th>
        <th class="text-center">Do</th>
        <th class="text-center">Fr</th>
        <th class="text-center">Sa</th>
        <th class="text-center">So</th>
      </tr>
      </thead>
      <tbody>
      {% for r in cal %}
      <tr>
      {% for i,d in r %}
        {% if i > 0 %}
          {% set day = d|calcClasses(year,mon,EVENTS) %}
        {% else %}
          {% set day = {"CSS_CLASSES":"","DAY":""} %}
        {% endif %}
        <td class="text-center{{ day['CSS_CLASSES'] }}">
          {# Add links only for date, not for weeknumber! #}
          {% if i > 0 %}
          <a href="{{ path("fl_time_form",{'date':day['DAY']}) }}" class="{{ day['CSS_CLASSES'] }}" title="Zum {{ day['DAY']|format_date }} wechseln">{{ d }}</a>
          {% else %}
            {{ d }}
          {% endif %}
        </td>
      {% endfor %}
      </tr>
      {% endfor %}
      </tbody>
      </table>
      {% endfor %}
    {% endfor %}
  </div>
</div>
{% endblock %}
